---
---

@import "minima";

body {
    background: url(https://upload.wikimedia.org/wikipedia/commons/d/d0/D%C3%BClmen%2C_Wildpark_--_2014_--_3808_color_balanced.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.page-content {
    background: rgba(255, 255, 255, 0.65);
    border-radius: 12px;
    padding: 2rem;
}

.site-header,
.site-footer {
  background: rgb(255, 255, 255);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
}
